@import 'src/styles/variables';

.notification {
	position: fixed;
	top: 3rem;
	right: 3rem;
	display: none;
	color: $white;
	background-color: $primary;
	border-radius: 8px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	cursor: default;
	z-index: 5;
	padding: 16px;
	animation: slideIn 1s;

	&.error,
	&.success {
		display: block;
	}

	&.success {
		background-color: $secondary;
	}

	&.error {
		background-color: $red;
	}
}

@keyframes slideIn {
	from {
		transform: translateX(200px);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}
