@import 'src/styles/variables';

.input {
	input {
		font-family: "Arial", sans-serif;
		font-size: 16px;
		line-height: 120%;
		outline: none;
		background-color: rgba($primary, 0.6);
		border: 2px solid rgba($primary, 0.6);
		color: $white;
		border-radius: 8px;
		min-height: 46px;
		padding: 8px 16px;

		&:hover {
			outline: none;
		}

		&::placeholder {
			color: rgba($white, 0.6);
		}
	}

	&.accent-secondary {
		input {
			background-color: rgba($secondary, 0.6);
			border: 2px solid rgba($secondary, 0.6);
		}
	}
}
