@import 'src/styles/variables';

.input {
	input {
		font-family: "Arial", sans-serif;
		font-size: 16px;
		line-height: 120%;
		outline: none;
		color: $white;
		background-color: transparent;
		border: none;
		border-radius: 8px;
		min-height: 46px;
		width: 100%;
		padding: 8px 16px;

		&:hover {
			outline: none;
		}

		&::placeholder {
			color: rgba($white, 0.6);
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus {
			-webkit-box-shadow: 0 0 0 30px $primary inset !important;
			-webkit-text-fill-color: $white !important;
		}
	}

	label {
		display: block;
		background-color: rgba($primary, 0.6);
		outline: 2px solid transparent;
		border-radius: 8px;
		min-height: 46px;
		//padding: 8px 16px;
	}

	&.accent-secondary {
		input {
			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus {
				-webkit-box-shadow: 0 0 0 30px $secondary inset !important;
				-webkit-text-fill-color: $white !important;
			}
		}

		label {
			background-color: rgba($secondary, 0.6);
		}
	}
}
