@import 'src/styles/variables';

.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: white;
	background-color: $primary;
	border-radius: 8px;
	padding: 8px 16px;

	&.red {
		background-color: $red;
	}
}
