$font: 'Rubik', sans-serif;

$primary: #7866d3;
$secondary: #0ec9a6;
$bg-block: #0f1112;
$text-gray: #4f5157;
$gray: #181a1e;
$white: #fdfdfd;
$black: #000000;

$gold: #FFA500;
$blue: cadetblue;
$red: darkred;

