@import 'src/styles/variables';

.logout {
	margin-left: 16px;
	
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $red;
		border-radius: 8px;
		background-color: rgba($red, 0.5);
		min-height: 50px;
		padding: 8px 16px;
	}

	svg {
		width: 22px;
		height: 22px;
		stroke: $white;
	}
}
